<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*\\Engine\.Contracts\.dll$</ModulePath>
        <ModulePath>.*\\EngineShell\.Application\.dll$</ModulePath>
        <ModulePath>.*\\Presentation\.dll$</ModulePath>
        <ModulePath>.*\\Engine\.Adapter\.PInvoke\.dll$</ModulePath>
        <ModulePath>.*\\WpfClient\.dll$</ModulePath>
        <ModulePath>.*\\WinUIClient\.dll$</ModulePath>
        <ModulePath>.*\\MauiClient\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*Tests\.dll$</ModulePath>
      </Exclude>
    </ModulePaths>
    <Sources>
      <Exclude>
        <Source>.*\\obj\\.*</Source>
      </Exclude>
    </Sources>
    <Attributes>
      <Exclude>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <IncludeTestAssembly>False</IncludeTestAssembly>
    <CollectFromChildProcesses>True</CollectFromChildProcesses>
  </CodeCoverage>
</Configuration>
